
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_header_footer.cshtml";
}
<head>



    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/xRoot/css/bootstrap.min.css" rel="stylesheet">

</head>




<!-- contectus Start-->
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_header_footer.cshtml";
}
<head>
   



</head>


    <!-- Contact Us Section -->
    <section id="contact" class="ct-section section">
        <div class="container text-center my-5 py-4 ct-section-title">
            <h2 class="mb-3">Contact</h2>
            <p class="text-muted">Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div>

        <div class="container">
            <div class="row g-4 g-lg-5">
                <!-- Contact Info Box -->
                <div class="col-lg-5 fix-up">
                    <div class="ct-info-box">
                        <h3 class="text-white">Contact Info</h3>
                        <p class="text-white">Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum primis.</p>

                        <div class="ct-info-item">
                            <div class="ct-icon-box">
                                <i class="bi bi-geo-alt"></i>
                            </div>
                            <div class="content ms-4">
                                <h4>Our Location</h4>
                                <p>A108 Adam Street</p>
                                <p>New York, NY 535022</p>
                            </div>
                        </div>

                        <div class="ct-info-item">
                            <div class="ct-icon-box">
                                <i class="bi bi-telephone"></i>
                            </div>
                            <div class="content ms-4">
                                <h4>Phone Number</h4>
                                <p>+1 5589 55488 55</p>
                                <p>+1 6678 254445 41</p>
                            </div>
                        </div>

                        <div class="ct-info-item">
                            <div class="ct-icon-box">
                                <i class="bi bi-envelope"></i>
                            </div>
                            <div class="content ms-4">
                                <h4>Email Address</h4>
                                <p>info@example.com</p>
                                <p>contact@example.com</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="col-lg-7">
                    <div class="ct-contact-form">
                        <h3>Get In Touch</h3>
                        <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum primis.</p>

                        <form action="forms/contact.php" method="post" class="php-email-form">
                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                                </div>
                                <div class="col-12 my-4">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                                </div>
                                <div class="col-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message">There was an error sending your message</div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                    <button type="submit" class="btn btn-primary my-4">Send Message</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>




<!--contectus end-->