


<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Dtox</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/xRoot/plugins/bootstrap/bootstrap.min.css">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="~/xRoot/plugins/themify-icons/themify-icons.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="~/xRoot/plugins/slick/slick.css">
    <!-- venobox popup -->
    <link rel="stylesheet" href="~/xRoot/plugins/Venobox/venobox.css">
    <!-- aos -->
    <link rel="stylesheet" href="~/xRoot/plugins/aos/aos.css">

    <!-- Main Stylesheet -->
    <link href="~/xRoot/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="xRoot/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="xRoot/images/favicon.ico" type="image/x-icon">


    <link href="xRoot\css\footer-css\bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <section class="fixed-top navigation">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/"><img src="~/xRoot/images/CROPPED_profile_logo_TGERC_016742a3d37914a23789967b8f0329d2-removebg-preview.png" alt="logo"></a>
                <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item ">
                            <a href="#" class="btn text-dark ">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="btn text-dark" >Feature</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="btn text-dark" >About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="btn text-dark" >Service</a>
                        </li>

                        <li class="nav-item dropdown">
                            <button class="btn dropdown-toggle text-dark" id="dropdownMenuButton1">Data & Automation</button>
                            <div class="dropdown1">
                                <ul aria-labelledby="dropdownMenuButton1" style="width:320px">
                                    <li>
                                        <div class="dropdown12">

                                            <a href="\WebScrapingServices\" class="dropdown-item" id="dropdownMenuButton1-1">
                                                <span>E-Commerce Scraping Services</span>

                                                <i class="bi bi-chevron-compact-left float-end"></i>
                                                </a>
                                            <a href="\WebScrapingServices\" class="dropdown-item text-dark" id="dropdownMenuButton1-1">
                                                <span>Web Scraping Services</span>

                                                <i class="bi bi-chevron-compact-left float-end"></i>
                                            </a>

 
                                            <div class="dropdown-content3">
                                                <ul aria-labelledby="dropdownMenuButton1-1">
                                                    <li><a href="#" class="dropdown-item">Google Maps Scraper</a></li>
                                                    <li><a href="#" class="dropdown-item">Facebook Page Scraper</a></li>
                                                    <li><a href="#" class="dropdown-item">Data Extraction Software</a></li>
                                                    <li><a href="#" class="dropdown-item">Mobile App Scraping</a></li>
                                                    <li><a href="#" class="dropdown-item">Amazon Product Scraper</a></li>
                                                    <li><a href="#" class="dropdown-item">Classifieds Scraping</a></li>
                                                    <li><a href="\WebDataScraping\" class="dropdown-item">Web Data Scraping</a></li>
                                                    <li><a href="#" class="dropdown-item">Jobsite Scraping</a></li>
                                                    <li><a href="#" class="dropdown-item">News Crawler</a></li>
                                                    <li><a href="#" class="dropdown-item">Web Data Mining</a></li>
                                                    <li><a href="#" class="dropdown-item">Web Crawling Services</a></li>
                                                    <li><a href="#" class="dropdown-item">Web Scraping Real Estate</a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown12">
                                            <a href="\WebDataScraping\" class="dropdown-item" id="dropdownMenuButton1-1">
                                                <span>Social Media Scraping Services</span>
                                                <i class="bi bi-chevron-compact-left float-end"></i>
                                            </a>
                                            <div class="dropdown-content2">
                                                <ul aria-labelledby="dropdownMenuButton1-1">
                                                    <li><a href="#" class="dropdown-item">Catalog Building</a></li>
                                                    <li><a href="#" class="dropdown-item">Catalog Conversion</a></li>
                                                    <li><a href="#" class="dropdown-item">Catalog Management</a></li>
                                                    <li><a href="#" class="dropdown-item">Catalog Processing</a></li>
                                                    <li><a href="#" class="dropdown-item">Catalog Updating</a></li>
                                                    <li><a href="#" class="dropdown-item">Data Abstraction</a></li>
                                                    <li><a href="#" class="dropdown-item">Data Quality Management</a></li>
                                                    <li><a href="#" class="dropdown-item">Data Enrichment</a></li>
                                                    <li><a href="#" class="dropdown-item">Data Entry</a></li>
                                                    <li><a href="#" class="dropdown-item">Data Scraping Services</a></li>
                                                    <li><a href="#" class="dropdown-item">Ecommerce Catalog Management</a></li>
                                                    <li><a href="#" class="dropdown-item">File Conversion</a></li>
                                                    <li><a href="#" class="dropdown-item">Order Processing</a></li>
                                                    <li><a href="#" class="dropdown-item">Online Catalog Management</a></li>
                                                    <li><a href="#" class="dropdown-item">Transaction Processing</a></li>
                                                    <li><a href="#" class="dropdown-item">Data Management Services</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown12">
                                            <a href="\WebScrapingServices\" class="dropdown-item" id="dropdownMenuButton1-1">
                                                <span>Google Map Scraper</span>
                                                <i class="bi bi-chevron-compact-left float-end"></i>
                                            </a>
                                            <div class="dropdown-content1">
                                                <ul aria-labelledby="dropdownMenuButton1-1">
                                                    <li><a href="#" class="dropdown-item">Contact Database Creation</a></li>
                                                    <li><a href="#" class="dropdown-item">Contact Database Updating</a></li>
                                                    <li><a href="#" class="dropdown-item">Data Cleansing</a></li>
                                                    <li><a href="#" class="dropdown-item">Data Collection</a></li>
                                                    <li><a href="#" class="dropdown-item">Data Processing</a></li>
                                                    <li><a href="#" class="dropdown-item">Data Validation</a></li>
                                                    <li><a href="#" class="dropdown-item">Image Data Processing Services</a></li>
                                                    <li><a href="#" class="dropdown-item">Research Data Management</a></li>
                                                    <li><a href="#" class="dropdown-item">Database Cleaning</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown12">
                                            <a href="\WebScrapingServices\" class="dropdown-item" id="dropdownMenuButton1-1">
                                                <span>Job Listing Site And Portal Scraping</span>
                                                <i class="bi bi-chevron-compact-left float-end"></i>
                                            </a>
                                            <div class="dropdown-content1">
                                                <ul aria-labelledby="dropdownMenuButton1-1">
                                                    <li><a href="#" class="dropdown-item">Image Content Moderation</a></li>
                                                    <li><a href="#" class="dropdown-item">Live Stream Content Moderation</a></li>
                                                    <li><a href="#" class="dropdown-item">Text Content Moderation</a></li>
                                                    <li><a href="#" class="dropdown-item">Video Content Moderation</a></li>
                                                    <li><a href="#" class="dropdown-item">Community Content Moderation</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown12">
                                            <a href="\WebScrapingServices\" class="dropdown-item" id="dropdownMenuButton1-1">
                                                <span>Real Estate Scraping Services</span>
                                                <i class="bi bi-chevron-compact-left float-end"></i>
                                            </a>
                                            <div class="dropdown-content2">
                                                <ul aria-labelledby="dropdownMenuButton1-1">
                                                    <li><a href="#" class="dropdown-item">Virtual Analyst</a></li>
                                                    <li><a href="#" class="dropdown-item">Virtual Assistant</a></li>
                                                    <li><a href="#" class="dropdown-item">Virtual Executive Assistant</a></li>
                                                    <li><a href="#" class="dropdown-item">Virtual Research Assistant</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown12">
                                            <a href="\WebScrapingServices\" class="dropdown-item" id="dropdownMenuButton1-1">
                                                <span>News Web Scraping Services</span>
                                                <i class="bi bi-chevron-compact-left float-end"></i>
                                            </a>
                                            <div class="dropdown-content2">
                                                <ul aria-labelledby="dropdownMenuButton1-1">
                                                    <li><a href="#" class="dropdown-item">Virtual Analyst</a></li>
                                                    <li><a href="#" class="dropdown-item">Virtual Assistant</a></li>
                                                    <li><a href="#" class="dropdown-item">Virtual Executive Assistant</a></li>
                                                    <li><a href="#" class="dropdown-item">Virtual Research Assistant</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown12">
                                            <a href="\WebScrapingServices\" class="dropdown-item" id="dropdownMenuButton1-1">
                                                <span>Classifields Scraping Services</span>
                                                <i class="bi bi-chevron-compact-left float-end"></i>
                                            </a>
                                            <div class="dropdown-content2">
                                                <ul aria-labelledby="dropdownMenuButton1-1">
                                                    <li><a href="#" class="dropdown-item">Virtual Analyst</a></li>
                                                    <li><a href="#" class="dropdown-item">Virtual Assistant</a></li>
                                                    <li><a href="#" class="dropdown-item">Virtual Executive Assistant</a></li>
                                                    <li><a href="#" class="dropdown-item">Virtual Research Assistant</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="btn text-dark">Pricing</a>

                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="btn text-dark">Contact</a>
                        </li>
                    </ul>
                    <a href="#" class="btn btn-primary ml-lg-3 primary-shadow">Try Free</a>
                </div>
            </nav>
        </div>
    </section>


    <!-- /navigation -->
    @RenderBody()

    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer wow fadeIn" data-wow-delay=".3s">
        <div class="container pt-5 pb-4">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <a href="index.html">
                        <h1 class="text-color fw-bold d-block">xRoot<span class="text-secondary">Services</span> </h1>
                    </a>
                    <p class="mt-4 text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facere delectus qui placeat inventore consectetur repellendus optio debitis.</p>
                    <div class="d-flex hightech-link">
                        <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i class="fab fa-facebook-f text-primary"></i></a>
                        <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i class="fab fa-twitter text-primary"></i></a>
                        <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i class="fab fa-instagram text-primary"></i></a>
                        <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-0"><i class="fab fa-linkedin-in text-primary"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="#" class="h3 text-secondary">Short Link</a>
                    <div class="mt-4 d-flex flex-column short-link">
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>About us</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Contact us</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Our Services</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Our Projects</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Latest Blog</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="#" class="h3 text-secondary">Help Link</a>
                    <div class="mt-4 d-flex flex-column help-link">
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Terms Of use</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Privacy Policy</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Helps</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>FQAs</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Contact</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="#" class="h3 text-secondary">Contact Us</a>
                    <div class="text-white mt-4 d-flex flex-column contact-link">
                        <a href="#" class="pb-3 text-light border-bottom border-primary"><i class="fas fa-map-marker-alt text-secondary me-2"></i> 123 Street, New York, USA</a>
                        <a href="#" class="py-3 text-light border-bottom border-primary"><i class="fas fa-phone-alt text-secondary me-2"></i> +123 456 7890</a>
                        <a href="#" class="py-3 text-light border-bottom border-primary"><i class="fas fa-envelope text-secondary me-2"></i> info@exmple.con</a>
                    </div>
                </div>
            </div>
            <hr class="text-light mt-5 mb-4">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <span class="text-light"><a href="#" class="text-secondary"><i class="fas fa-copyright text-secondary me-2"></i>Your Site Name</a>, All right reserved.</span>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    <span class="text-light">Designed By<a href="https://htmlcodex.com" class="text-secondary">HTML Codex</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- jQuery -->
    <script src="~/xRoot/plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/xRoot/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="~/xRoot/plugins/slick/slick.min.js"></script>
    <!-- venobox -->
    <script src="~/xRoot/plugins/Venobox/venobox.min.js"></script>
    <!-- aos -->
    <script src="~/xRoot/plugins/aos/aos.js"></script>
    <!-- Main Script -->
    <script src="~/xRoot/js/script.js"></script>

</body>
</html>