
<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Dtox</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="~/xRoot/plugins/bootstrap/bootstrap.min.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="~/xRoot/plugins/themify-icons/themify-icons.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="~/xRoot/plugins/slick/slick.css">
  <!-- venobox popup -->
  <link rel="stylesheet" href="~/xRoot/plugins/Venobox/venobox.css">
  <!-- aos -->
  <link rel="stylesheet" href="~/xRoot/plugins/aos/aos.css">

  <!-- Main Stylesheet -->
  <link href="~/xRoot/css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="xRoot/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="xRoot/images/favicon.ico" type="image/x-icon">

   
    <link href="xRoot\css\footer-css\bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
   
</head>

<body>
  

<!-- navigation -->
<section class="fixed-top navigation">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/"><img src="~/xRoot/images/logo.png" alt="logo"></a>
                <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
      <!-- navbar -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" id="dropdownMenuButton1">
                                    Digital & AI Solution
                                </button>
                                <div class="dropdown1">
                                <ul aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <button class="btn" id="dropdownMenuButton1">
                                                <a class="dropdown-item" href="#">RPA Automation First <i class="bi bi-chevron-compact-left float-end"></i> </a>
                                            </button>
                                            <div class="dropdown-1">
                                                <ul aria-labelledby="dropdownMenuButton1-1">
                                                    <li class="dropdown-item1"><a href="#">Robotic Process Automation Companies</a>  </li>
                                                    <li class="dropdown-item1"><a href="#">Real Time Business Intelligence</a>  </li>
                                                    <li class="dropdown-item1"><a href="#"> Business Process Automation</a></li>
                                             </ul>
                                            </div>
                                            
                                        </li>
                                        <li><a class="dropdown-item" href="#">Al Solutions </a></li>
                                        <li><a class="dropdown-item" href="#">IT Application Services </a></li>
                                        <li><a class="dropdown-item" href="#">Cloud Enablement Services </a></li>
                                
                                </ul>
                                </div>
                            </div>
          </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" id="dropdownMenuButton1">
                                    Big Data Solution
                                </button>
                                <div class="dropdown1">
                                    <ul aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Data Analytics Companies</a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" id="dropdownMenuButton1">
                                    Data & Automation
                                </button>
                                <div class="dropdown1">
                                    <ul aria-labelledby="dropdownMenuButton1" style="width:fit-content">
                                        <li><a class="dropdown-item" href="#">Web Scraping Services<i class="bi bi-chevron-compact-left float-end"></i></a></li>
                                        <li><a class="dropdown-item" href="#"></>Data Processing Services <i class="bi bi-chevron-compact-left"></i></a></li>
                                        <li><a class="dropdown-item" href="#">Data Management <i class="bi bi-chevron-compact-left float-end"></i></a></li>
                                        <li><a class="dropdown-item" href="#">Content Moderation <i class="bi bi-chevron-compact-left float-end"></i> </a></li>
                                        <li><a class="dropdown-item" href="#">Digital Workforce <i class="bi bi-chevron-compact-left float-end"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" id="dropdownMenuButton1">
                                    Web Research Services
                                </button>
                                <div class="dropdown1">
                                    <ul aria-labelledby="dropdownMenuButton1">
                                        <div class="drop">
                                        <div class="drop1">
                                        <li><a class="dropdown-item" href="#">Industry Analysis </a></li>
                                        <li><a class="dropdown-item" href="#">Industry Forecast Report </a></li>
                                        <li><a class="dropdown-item" href="#">SIndustry Intelligence Report </a></li>
                                        <li><a class="dropdown-item" href="#">Internet Research  </a></li>
                                        <li><a class="dropdown-item" href="#">Market Basket Analysis  </a></li>
                                        <li><a class="dropdown-item" href="#">Market Research Companies  </a></li>
                                </div>
                                <div class="drop2">
                                        <li><a class="dropdown-item" href="#">Media Monitoring  </a></li>
                                        <li><a class="dropdown-item" href="#">Online Research  </a></li>
                                        <li><a class="dropdown-item" href="#">Secondary Research  </a></li>
                                        <li><a class="dropdown-item" href="#">Company Profiling  </a></li>
                                        <li><a class="dropdown-item" href="#">Competitive Benchmarking companies </a></li>
                                        <li><a class="dropdown-item" href="#">Competitor Profiling </a></li>
                </div>
        </div>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        
    
        </ul>
                    <i class="bi bi-search"></i>
      </div>
    </nav>
  </div>
</section>
<!-- /navigation -->

@RenderBody()

    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer wow fadeIn" data-wow-delay=".3s">
        <div class="container pt-5 pb-4">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <a href="index.html">
                        <h1 class="text-color fw-bold d-block">xRoot<span class="text-secondary">Services</span> </h1>
                    </a>
                    <p class="mt-4 text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facere delectus qui placeat inventore consectetur repellendus optio debitis.</p>
                    <div class="d-flex hightech-link">
                        <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i class="fab fa-facebook-f text-primary"></i></a>
                        <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i class="fab fa-twitter text-primary"></i></a>
                        <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i class="fab fa-instagram text-primary"></i></a>
                        <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-0"><i class="fab fa-linkedin-in text-primary"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="#" class="h3 text-secondary">Short Link</a>
                    <div class="mt-4 d-flex flex-column short-link">
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>About us</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Contact us</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Our Services</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Our Projects</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Latest Blog</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="#" class="h3 text-secondary">Help Link</a>
                    <div class="mt-4 d-flex flex-column help-link">
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Terms Of use</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Privacy Policy</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Helps</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>FQAs</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Contact</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="#" class="h3 text-secondary">Contact Us</a>
                    <div class="text-white mt-4 d-flex flex-column contact-link">
                        <a href="#" class="pb-3 text-light border-bottom border-primary"><i class="fas fa-map-marker-alt text-secondary me-2"></i> 123 Street, New York, USA</a>
                        <a href="#" class="py-3 text-light border-bottom border-primary"><i class="fas fa-phone-alt text-secondary me-2"></i> +123 456 7890</a>git pu
                        <a href="#" class="py-3 text-light border-bottom border-primary"><i class="fas fa-envelope text-secondary me-2"></i> info@exmple.con</a>
                    </div>
                </div>
            </div>
            <hr class="text-light mt-5 mb-4">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <span class="text-light"><a href="#" class="text-secondary"><i class="fas fa-copyright text-secondary me-2"></i>Your Site Name</a>, All right reserved.</span>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    <span class="text-light">Designed By<a href="https://htmlcodex.com" class="text-secondary">HTML Codex</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- jQuery -->
<script src="~/xRoot/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="~/xRoot/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="~/xRoot/plugins/slick/slick.min.js"></script>
<!-- venobox -->
<script src="~/xRoot/plugins/Venobox/venobox.min.js"></script>
<!-- aos -->
<script src="~/xRoot/plugins/aos/aos.js"></script>
<!-- Main Script -->
<script src="~/xRoot/js/script.js"></script>

</body>
</html>