
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_header_footer.cshtml";
}
<head>



	<!-- Icon Font Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<!-- Customized Bootstrap Stylesheet -->
	<link href="~/xRoot/css/bootstrap.min.css" rel="stylesheet">

</head>

<section class="bs-hero-section  position-relative overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <!-- Left Text -->
            <div class="col-lg-6 order-2 order-lg-1 text-center text-lg-start">
                <h1 class="display-5 text-primary ">Scrape the Web, Rule the Market. </h1>
                <h1 class="display-5 text-primary mb-4">What is E-Commerce Web Scraping?   </h1>

                <p class="lead text-secondary mb-4">E-commerce web scraping is the process of extracting data from various e-commerce platforms like Amazon, eBay, etc. The collection of data can be as specific as knowing the seller's name and contact details, to as surface level as just collecting the data of products and their prices, it totally depends from business to business and client to client. </p>
              
                <div class="d-flex flex-column flex-md-row align-items-center gap-3">
                    <a href="#about" class="btn btn-primary px-4 py-2">Get Started <i class="bi bi-arrow-right ms-2"></i></a>
                    <a href="https://www.youtube.com/watch?v=YykjpeuMNEk" class="btn btn-link text-primary fw-semibold">
                        <i class="bi bi-play-circle fs-4 me-2"></i>Watch Video
                    </a>
                </div>
            </div>
            <!-- Right Image -->
            <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="https://bootstrapmade.com/content/demo/FlexStart/assets/img/hero-img.png"
                     alt="Hero"
                     class="img-fluid mx-auto float-animation"
                     style="max-width: 400px;" />
            </div>
        </div>
    </div>
    <div id="scene">
        <img class="img-fluid hero-bg-1 up-down-animation" src="~/xRoot/images/background-shape/feature-bg-2.png" alt="">
        <img class="img-fluid hero-bg-3 left-right-animation" src="~/xRoot/images/background-shape/seo-half-cycle.png" alt="">
        <img class="img-fluid hero-bg-4 up-down-animation" src="~/xRoot/images/background-shape/green-dot.png" alt="">
        <img class="img-fluid hero-bg-6 up-down-animation" src="~/xRoot/images/background-shape/seo-ball-1.png" alt="">
        <img class="img-fluid hero-bg-7 left-right-animation" src="~/xRoot/images/background-shape/yellow-triangle.png" alt="">
        <img class="img-fluid hero-bg-8 up-down-animation" src="~/xRoot/images/background-shape/service-half-cycle.png" alt="">
        <img class="img-fluid hero-bg-9 up-down-animation" src="~/xRoot/images/background-shape/team-bg-triangle.png" alt="">
    </div>


</section>








