
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_header_footer.cshtml";
}
<head>
   


    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">



    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/xRoot/css/bootstrap.min.css" rel="stylesheet">

</head>
<!-- hero area -->
<section class="hero-section hero" data-background="" style="background-image: url(xRoot/images/hero-area/banner-bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center zindex-1">
                <h1 class="mb-3">
                    Take Control of your<br>
                    Project and Team
                </h1>
                <p class="mb-4">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum<br>
                    dolore eu fugiat nulla pariatur.
                </p>
                <a href="#" class="btn btn-secondary btn-lg">explore us</a>
                <!-- banner image -->
                <img class="img-fluid w-100 banner-image" src="~/xRoot/images/hero-area/banner-img.png" alt="banner-img">
            </div>
        </div>
    </div>
    <!-- background shapes -->
    <div id="scene">
        <img class="img-fluid hero-bg-1 up-down-animation" src="~/xRoot/images/background-shape/feature-bg-2.png" alt="">
        <img class="img-fluid hero-bg-2 left-right-animation" src="~/xRoot/images/background-shape/seo-ball-1.png" alt="">
        <img class="img-fluid hero-bg-3 left-right-animation" src="~/xRoot/images/background-shape/seo-half-cycle.png" alt="">
        <img class="img-fluid hero-bg-4 up-down-animation" src="~/xRoot/images/background-shape/green-dot.png" alt="">
        <img class="img-fluid hero-bg-5 left-right-animation" src="~/xRoot/images/background-shape/blue-half-cycle.png" alt="">
        <img class="img-fluid hero-bg-6 up-down-animation" src="~/xRoot/images/background-shape/seo-ball-1.png" alt="">
        <img class="img-fluid hero-bg-7 left-right-animation" src="~/xRoot/images/background-shape/yellow-triangle.png" alt="">
        <img class="img-fluid hero-bg-8 up-down-animation" src="~/xRoot/images/background-shape/service-half-cycle.png" alt="">
        <img class="img-fluid hero-bg-9 up-down-animation" src="~/xRoot/images/background-shape/team-bg-triangle.png" alt="">
    </div>
</section>
<!-- /hero-area -->
<!-- feature -->
<section class="section feature mb-0" id="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Awesome Features</h2>
                <p class="mb-100">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br>Excepteur sint occaecat cupidatat non proident</p>
            </div>
            <!-- feature item -->
            <div class="col-md-6 mb-80">
                <div class="d-flex feature-item">
                    <div>
                        <i class="ti-ruler-pencil feature-icon mr-4"></i>
                    </div>
                    <div>
                        <h4>Awesome Design</h4>
                        <p>
                            Consectetur adipiscing elit donec tempus
                            pellentesque dui.
                        </p>
                    </div>
                </div>
            </div>
            <!-- feature item -->
            <div class="col-md-6 mb-80">
                <div class="d-flex feature-item">
                    <div>
                        <i class="ti-layout-cta-left feature-icon mr-4"></i>
                    </div>
                    <div>
                        <h4>Easy Customize</h4>
                        <p>
                            Consectetur adipiscing elit donec tempus
                            pellentesque dui.
                        </p>
                    </div>
                </div>
            </div>
            <!-- feature item -->
            <div class="col-md-6 mb-80">
                <div class="d-flex feature-item">
                    <div>
                        <i class="ti-split-v-alt feature-icon mr-4"></i>
                    </div>
                    <div>
                        <h4>Bug free Code</h4>
                        <p>
                            Consectetur adipiscing elit donec tempus
                            pellentesque dui.
                        </p>
                    </div>
                </div>
            </div>
            <!-- feature item -->
            <div class="col-md-6 mb-80">
                <div class="d-flex feature-item">
                    <div>
                        <i class="ti-layers-alt feature-icon mr-4"></i>
                    </div>
                    <div>
                        <h4>Organized Layouts</h4>
                        <p>
                            Consectetur adipiscing elit donec tempus
                            pellentesque dui.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="feature-bg-1 up-down-animation" src="~/xRoot/images/background-shape/feature-bg-1.png" alt="bg-shape">
    <img class="feature-bg-2 left-right-animation" src="~/xRoot/images/background-shape/feature-bg-2.png" alt="bg-shape">
</section>
<!-- /feature -->
<!-- marketing -->
<section class="section-lg seo">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="seo-image">
                    <img class="img-fluid" src="~/xRoot/images/marketing/marketing.png" alt="form-img">
                </div>
            </div>
            <div class="col-md-5">
                <h2 class="section-title">A Complete Range Of SEO Marketing Services!</h2>
                <p>
                    Far far away, behind the word mountains, far
                    from the countries Vokalia and Consonantia.<br>
                    There live the blind texts. Separated they
                    live in Bookmarksgrove right at the coast of
                    the Semantics, a large language ocean.
                </p>
            </div>
        </div>
    </div>
    <!-- background image -->
    <img class="img-fluid seo-bg" src="~/xRoot/images/backgrounds/seo-bg.png" alt="seo-bg">
    <!-- background-shape -->
    <img class="seo-bg-shape-1 left-right-animation" src="~/xRoot/images/background-shape/seo-ball-1.png" alt="bg-shape">
    <img class="seo-bg-shape-2 up-down-animation" src="~/xRoot/images/background-shape/seo-half-cycle.png" alt="bg-shape">
    <img class="seo-bg-shape-3 left-right-animation" src="~/xRoot/images/background-shape/seo-ball-2.png" alt="bg-shape">
</section>
<!-- /marketing -->
<!-- service -->
<section class="section-lg service">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-5 order-2 order-md-1">
                <h2 class="section-title">Powerful Layout From Top To Bottom</h2>
                <p class="mb-4">
                    Far far away, behind the word mountains,
                    far from the countries Vokalia and Consonantia,
                    there live the blind texts. Separated they
                    live in Bookmarksgrove right at the coast of the
                    Semantics, a large language ocean.
                </p>
                <ul class="pl-0 service-list">
                    <li><i class="ti-layout-tab-window text-purple"></i>Responsive on any device</li>
                    <li><i class="ti-layout-placeholder text-purple"></i>Very easy to customize</li>
                    <li><i class="ti-support text-purple"></i>Effective support</li>
                </ul>
            </div>
            <div class="col-md-7 order-1 order-md-2">
                <img class="img-fluid layer-3" src="~/xRoot/images/service/service.png" alt="service">
            </div>
        </div>
    </div>
    <!-- background image -->
    <img class="img-fluid service-bg" src="~/xRoot/images/backgrounds/service-bg.png" alt="service-bg">
    <!-- background shapes -->
    <img class="service-bg-shape-1 up-down-animation" src="~/xRoot/images/background-shape/service-half-cycle.png" alt="background-shape">
    <img class="service-bg-shape-2 left-right-animation" src="~/xRoot/images/background-shape/feature-bg-2.png" alt="background-shape">
</section>
<!-- /service -->
<!-- team -->
<section class="section-lg team" id="team">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Our Team</h2>
                <p class="mb-100">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu<br>
                    fugiat nulla pariatur. Excepteur sint occaecat
                </p>
            </div>
        </div>
        <div class="col-10 mx-auto">
            <div class="team-slider">
                <!-- team-member -->
                <div class="team-member">
                    <div class="d-flex mb-4">
                        <div class="mr-3">
                            <img class="rounded-circle img-fluid" src="~/xRoot/images/team/team-1.jpg" alt="team-member">
                        </div>
                        <div class="align-self-center">
                            <h4>Becroft</h4>
                            <h6 class="text-color">web designer</h6>
                        </div>
                    </div>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. S eparated they</p>
                </div>
                <!-- team-member -->
                <div class="team-member">
                    <div class="d-flex mb-4">
                        <div class="mr-3">
                            <img class="rounded-circle img-fluid" src="~/xRoot/images/team/team-2.jpg" alt="team-member">
                        </div>
                        <div class="align-self-center">
                            <h4>John Doe</h4>
                            <h6 class="text-color">web developer</h6>
                        </div>
                    </div>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. S eparated they</p>
                </div>
                <!-- team-member -->
                <div class="team-member">
                    <div class="d-flex mb-4">
                        <div class="mr-3">
                            <img class="rounded-circle img-fluid" src="~/xRoot/images/team/team-3.jpg" alt="team-member">
                        </div>
                        <div class="align-self-center">
                            <h4>Erik Ligas</h4>
                            <h6 class="text-color">Programmer</h6>
                        </div>
                    </div>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                        the blind texts. S eparated they
                    </p>
                </div>
                <!-- team-member -->
                <div class="team-member">
                    <div class="d-flex mb-4">
                        <div class="mr-3">
                            <img class="rounded-circle img-fluid" src="~/xRoot/images/team/team-1.jpg" alt="team-member">
                        </div>
                        <div class="align-self-center">
                            <h4>Erik Ligas</h4>
                            <h6 class="text-color">Programmer</h6>
                        </div>
                    </div>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                        the blind texts. S eparated they
                    </p>
                </div>
                <!-- team-member -->
                <div class="team-member">
                    <div class="d-flex mb-4">
                        <div class="mr-3">
                            <img class="rounded-circle img-fluid" src="~/xRoot/images/team/team-2.jpg" alt="team-member">
                        </div>
                        <div class="align-self-center">
                            <h4>John Doe</h4>
                            <h6 class="text-color">web developer</h6>
                        </div>
                    </div>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. S eparated they</p>
                </div>
            </div>
        </div>
    </div>
    <!-- backgound image -->
    <img src="~/xRoot/images/backgrounds/team-bg.png" alt="team-bg" class="img-fluid team-bg">
    <!-- background shapes -->
    <img class="team-bg-shape-1 up-down-animation" src="~/xRoot/images/background-shape/seo-ball-1.png" alt="background-shape">
    <img class="team-bg-shape-2 left-right-animation" src="~/xRoot/images/background-shape/seo-ball-1.png" alt="background-shape">
    <img class="team-bg-shape-3 left-right-animation" src="~/xRoot/images/background-shape/team-bg-triangle.png" alt="background-shape">
    <img class="team-bg-shape-4 up-down-animation img-fluid" src="~/xRoot/images/background-shape/team-bg-dots.png" alt="background-shape">
</section>
<!-- /team -->
<!-- pricing -->
<div class="price">
    <div class="pika">
        <p class="priceing">pricing</p>
        <epm class="ourprice">
            <p>Pricing for our full-service,</p>
            <p>where we handle everything</p>
        </epm>
    </div>
    <div class="xsev">
        <div class="services">
            <div class="log">
                <span class="logo-container">
                    <img style="margin: 5%;" src="~/xRoot/images/logo2.png" alt="Logo">

                </span>


                <epm>On Demand</epm>
            </div>


            <div class="rupay cdn">
                <div class="boxes">
                    <div class="box box1"><p>Starts at</p> <p class="doller"> <epm><span>$</span>500</epm></p> </div>
                    <div class="box box2">
                        <!-- Tooltip Button -->
                        <div class="e-hotspot elementor-repeater-item-cd6ee78 e-hotspot--icon">
                            <div class="e-hotspot__button e-hotspot--expand">
                                <div class="e-hotspot__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                                        <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"></path>
                                    </svg>
                                </div>
                            </div>

                            <!-- Tooltip -->
                            <div class="e-hotspot__tooltip">
                                <p>Minimum price per site is $550, and the final plan pricing depends on website complexity and number of pages scraped.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>per website per refresh</p>
            </div>
            <div class="sub cdn"><p>Subscription</p><epm2>Not Required</epm2></div>
            <div class="set cdn"><p>setup free</p><epm2>included</epm2></div>
            <div class="freq cdn"><p>frequency of data gathering</p><epm2>one time</epm2></div>
            <div class="best cdn"><p>best for number of site</p><epm2>up to 2</epm2></div>
            <div class="num cdn">
                <p>number of pages</p><epm3 style="margin: 10px;">1-15K</epm3>
                <div class="e-hotspot elementor-repeater-item-cd6ee78 e-hotspot--icon">
                    <div class="e-hotspot__button e-hotspot--expand">
                        <div class="e-hotspot__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                                <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"></path>
                            </svg>
                        </div>
                    </div>

                    <!-- Tooltip -->
                    <div class="e-hotspot__tooltip">
                        <p>Minimum price per site is <strong>$550</strong>, and the final plan pricing depends on website complexity and the number of pages scraped.</p>
                    </div>
                </div>

            </div>
            <div class="rec cdn">
                <p>resource and source</p><epm2>shared</epm2> <div class="e-hotspot elementor-repeater-item-cd6ee78 e-hotspot--icon">
                    <div class="e-hotspot__button e-hotspot--expand">
                        <div class="e-hotspot__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                                <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"></path>
                            </svg>
                        </div>
                    </div>

                    <!-- Tooltip -->
                    <div class="e-hotspot__tooltip">
                        <p>Minimum price per site is <strong>$550</strong>, and the final plan pricing depends on website complexity and the number of pages scraped.</p>
                    </div>
                </div>
            </div>
            <div class="com cdn"><p>site complexcity</p><epm2>Basic to meadium</epm2></div>
            <div class="add "><p>pricing to additional pages </p>----</div>

        </div>
        <div class="services">
            <div class="log">
                <span class="logo-container">
                    <img src="~/xRoot/images/logo2.png" alt="Logo">
                </span>
                <epm>Business</epm>
            </div>

            <div class="rupay cdn">
                <div class="boxes">
                    <div class="box box1"><p>Starts at</p> <p class="doller"> <epm><span>$</span>500</epm>></p> </div>
                    <div class="box box2">
                        <!-- Tooltip Button -->
                        <div class="e-hotspot elementor-repeater-item-cd6ee78 e-hotspot--icon">
                            <div class="e-hotspot__button e-hotspot--expand">
                                <div class="e-hotspot__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                                        <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"></path>
                                    </svg>
                                </div>
                            </div>

                            <!-- Tooltip -->
                            <div class="e-hotspot__tooltip">
                                <p>Minimum price per site is $550, and the final plan pricing depends on website complexity and number of pages scraped.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>per website per refresh</p>
            </div>
            <div class="sub cdn"><p>Subscription</p><epm2>Not Required</epm2></div>
            <div class="set cdn"><p>setup free</p><epm2>included</epm2></div>
            <div class="freq cdn"><p>frequency of data gathering</p><epm2>one time</epm2></div>
            <div class="best cdn"><p>best for number of site</p><epm2>up to 2</epm2></div>
            <div class="num cdn">
                <p>number of pages</p><epm3 style="margin: 10px;">1-15K</epm3>
                <div class="e-hotspot elementor-repeater-item-cd6ee78 e-hotspot--icon">
                    <div class="e-hotspot__button e-hotspot--expand">
                        <div class="e-hotspot__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                                <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"></path>
                            </svg>
                        </div>
                    </div>

                    <!-- Tooltip -->
                    <div class="e-hotspot__tooltip">
                        <p>Minimum price per site is <strong>$550</strong>, and the final plan pricing depends on website complexity and the number of pages scraped.</p>
                    </div>
                </div>

            </div>
            <div class="rec cdn">
                <p>resource and source</p><epm2>shared</epm2> <div class="e-hotspot elementor-repeater-item-cd6ee78 e-hotspot--icon">
                    <div class="e-hotspot__button e-hotspot--expand">
                        <div class="e-hotspot__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                                <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"></path>
                            </svg>
                        </div>
                    </div>

                    <!-- Tooltip -->
                    <div class="e-hotspot__tooltip">
                        <p>Minimum price per site is <strong>$550</strong>, and the final plan pricing depends on website complexity and the number of pages scraped.</p>
                    </div>
                </div>
            </div>
            <div class="com cdn"><p>site complexcity</p><epm2>Basic to meadium</epm2></div>
            <div class="add "><p>pricing to additional pages </p>----</div>

        </div>
        <div class="services">
            <div class="log">
                <span class="logo-container">
                    <img src="~/xRoot/images/logo2.png" alt="Logo">
                </span>
                <epm>Enterprise Basic</epm>
            </div>

            <div class="rupay cdn">
                <div class="boxes">
                    <div class="box box1"><p>Starts at</p> <p class="doller"> <epm><span>$</span>500</epm></p> </div>
                    <div class="box box2">
                        <!-- Tooltip Button -->
                        <div class="e-hotspot elementor-repeater-item-cd6ee78 e-hotspot--icon">
                            <div class="e-hotspot__button e-hotspot--expand">
                                <div class="e-hotspot__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                                        <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"></path>
                                    </svg>
                                </div>
                            </div>

                            <!-- Tooltip -->
                            <div class="e-hotspot__tooltip">
                                <p>Minimum price per site is $550, and the final plan pricing depends on website complexity and number of pages scraped.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>per website per refresh</p>
            </div>
            <div class="sub cdn"><p>Subscription</p><epm2>Not Required</epm2></div>
            <div class="set cdn"><p>setup free</p><epm2>included</epm2></div>
            <div class="freq cdn"><p>frequency of data gathering</p><epm2>one time</epm2></div>
            <div class="best cdn"><p>best for number of site</p><epm2>up to 2</epm2></div>
            <div class="num cdn">
                <p>number of pages</p><epm3 style="margin: 10px;">1-15K</epm3>
                <div class="e-hotspot elementor-repeater-item-cd6ee78 e-hotspot--icon">
                    <div class="e-hotspot__button e-hotspot--expand">
                        <div class="e-hotspot__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                                <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"></path>
                            </svg>
                        </div>
                    </div>

                    <!-- Tooltip -->
                    <div class="e-hotspot__tooltip">
                        <p>Minimum price per site is <strong>$550</strong>, and the final plan pricing depends on website complexity and the number of pages scraped.</p>
                    </div>
                </div>

            </div>
            <div class="rec cdn">
                <p>resource and source</p><epm2>shared</epm2> <div class="e-hotspot elementor-repeater-item-cd6ee78 e-hotspot--icon">
                    <div class="e-hotspot__button e-hotspot--expand">
                        <div class="e-hotspot__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                                <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"></path>
                            </svg>
                        </div>
                    </div>

                    <!-- Tooltip -->
                    <div class="e-hotspot__tooltip">
                        <p>Minimum price per site is <strong>$550</strong>, and the final plan pricing depends on website complexity and the number of pages scraped.</p>
                    </div>
                </div>
            </div>
            <div class="com cdn"><p>site complexcity</p><epm2>Basic to meadium</epm2></div>
            <div class="add "><p>pricing to additional pages </p>----</div>

        </div>
        <div class="services">
            <div class="log">
                <span class="logo-container">
                    <img style="margin: 0;" src="~/xRoot/images/logo2.png" alt="Logo">
                </span>
                <epm>Enterprise Premium</epm>
            </div>


            <div class="rupay cdn">
                <div class="boxes">
                    <div class="box box1"><p>Starts at</p> <p class="doller"> <epm><span>$</span>500</epm></p> </div>
                    <div class="box box2">
                        <!-- Tooltip Button -->
                        <div class="e-hotspot elementor-repeater-item-cd6ee78 e-hotspot--icon">
                            <div class="e-hotspot__button e-hotspot--expand">
                                <div class="e-hotspot__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                                        <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"></path>
                                    </svg>
                                </div>
                            </div>

                            <!-- Tooltip -->
                            <div class="e-hotspot__tooltip">
                                <p>Minimum price per site is $550, and the final plan pricing depends on website complexity and number of pages scraped.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p>per website per refresh</p>
            </div>
            <div class="sub cdn"><p>Subscription</p><epm2>Not Required</epm2></div>
            <div class="set cdn"><p>setup free</p><epm2>included</epm2></div>
            <div class="freq cdn"><p>frequency of data gathering</p><epm2>one time</epm2></div>
            <div class="best cdn"><p>best for number of site</p><epm2>up to 2</epm2></div>
            <div class="num cdn">
                <p>number of pages</p><epm3 style="margin: 10px;">1-15K</epm3>
                <div class="e-hotspot elementor-repeater-item-cd6ee78 e-hotspot--icon">
                    <div class="e-hotspot__button e-hotspot--expand">
                        <div class="e-hotspot__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                                <path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"></path>
                            </svg>
                        </div>
                    </div>

                    <!-- Tooltip -->
                    <div class="e-hotspot__tooltip">
                        <p>Minimum price per site is <strong>$550</strong>, and the final plan pricing depends on website complexity and the number of pages scraped.</p>
                    </div>
                </div>

            </div>
            <div class="rec cdn"><p>resource and source</p></div>
            <div class="com cdn"><p>site complexcity</p><epm2>Basic to meadium</epm2></div>
            <div class="add "><p>pricing to dsjahjklahvklasv dnvkanvkljsnak additional pages </p>----</div>

        </div>

    </div>
    <div class="low">
        These numbers only serve to prov
        ide a baseline of our pricing scheme and are not absolute. The final cost will be
        dependent on the scope of your scraping requirements.
    </div>
    <div class="but">
        <button class="my-button">Get a free quote<span>&#8594;</span></button>
    </div>

</div>
<!-- /pricing -->
  <!-- Blog Start -->
        <div class="container-fluid blog py-5 mb-5">
            <div class="container">
                <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
                    <h5 class="text-primary">Our Blog</h5>
                    <h1>Latest Blog & News</h1>
                </div>
                <div class="row g-5 justify-content-center">
                    <div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".3s">
                        <div class="blog-item position-relative bg-light rounded">
                            <img src="~/xRoot/images/blog-1.jpg" class="img-fluid w-100 rounded-top" alt="">
                            <span class="position-absolute px-4 py-3 bg-primary text-white rounded" style="top: -28px; right: 20px;">Web Design</span>
                            <div class="blog-btt d-flex justify-content-between position-relative px-3" style="margin-top: -75px;">
                                <div class="blog-icon btt btt-secondary px-3 rounded-pill my-auto">
                                    <a href="" class="btt text-white">Read More</a>
                                </div>
                                <div class="blog-btt-icon btt btt-secondary px-4 py-3 rounded-pill ">
                                    <div class="blog-icon-1">
                                        <p class="text-white px-2">Share<i class="fa fa-arrow-right ms-3"></i></p>
                                    </div>
                                    <div class="blog-icon-2">
                                        <a href="" class="btt me-1"><i class="fab fa-facebook-f text-white"></i></a>
                                        <a href="" class="btt me-1"><i class="fab fa-twitter text-white"></i></a>
                                        <a href="" class="btt me-1"><i class="fab fa-instagram text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content text-center position-relative px-3" style="margin-top: 5px;">
                                <img src="~/xRoot/images/admin.jpg" class="img-fluid rounded-circle border border-4 border-white mb-3" alt="">
                                <h5 class="">By Daniel Martin</h5>
                                <span class="text-secondary">24 March 2023</span>
                                <p class="py-2">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. Aliquam dolor eget urna ultricies tincidunt libero sit amet</p>
                            </div>
                            <div class="blog-coment d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom">
                                <a href="" class="text-white"><small><i class="fas fa-share me-2 text-secondary"></i>5324 Share</small></a>
                                <a href="" class="text-white"><small><i class="fa fa-comments me-2 text-secondary"></i>5 Comments</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".5s">
                        <div class="blog-item position-relative bg-light rounded">
                    <img src="~/xRoot/images/blog-1.jpg" class="img-fluid w-100 rounded-top" alt="">
                            <span class="position-absolute px-4 py-3 bg-primary text-white rounded" style="top: -28px; right: 20px;">Development</span>
                            <div class="blog-btt d-flex justify-content-between position-relative px-3" style="margin-top: -75px;">
                                <div class="blog-icon btt btt-secondary px-3 rounded-pill my-auto">
                                    <a href="" class="btt text-white ">Read More</a>
                                </div>
                                <div class="blog-btt-icon btt btt-secondary px-4 py-3 rounded-pill ">
                                    <div class="blog-icon-1">
                                        <p class="text-white px-2">Share<i class="fa fa-arrow-right ms-3"></i></p>
                                    </div>
                                    <div class="blog-icon-2">
                                        <a href="" class="btt me-1"><i class="fab fa-facebook-f text-white"></i></a>
                                        <a href="" class="btt me-1"><i class="fab fa-twitter text-white"></i></a>
                                        <a href="" class="btt me-1"><i class="fab fa-instagram text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content text-center position-relative px-3" style="margin-top: 5px;">
                        <img src="~/xRoot/images/admin.jpg" class="img-fluid rounded-circle border border-4 border-white mb-3" alt="">
                                <h5 class="">By Daniel Martin</h5>
                                <span class="text-secondary">23 April 2023</span>
                                <p class="py-2">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. Aliquam dolor eget urna ultricies tincidunt libero sit amet</p>
                            </div>
                            <div class="blog-coment d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom">
                                <a href="" class="text-white"><small><i class="fas fa-share me-2 text-secondary"></i>5324 Share</small></a>
                                <a href="" class="text-white"><small><i class="fa fa-comments me-2 text-secondary"></i>5 Comments</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4 wow fadeIn" data-wow-delay=".7s">
                        <div class="blog-item position-relative bg-light rounded">
                    <img src="~/xRoot/images/blog-1.jpg" class="img-fluid w-100 rounded-top" alt="">
                            <span class="position-absolute px-4 py-3 bg-primary text-white rounded" style="top: -28px; right: 20px;">Mobile App</span>
                            <div class="blog-btt d-flex justify-content-between position-relative px-3" style="margin-top: -75px;">
                                <div class="blog-icon btt btt-secondary px-3 rounded-pill my-auto">
                                    <a href="" class="btt text-white ">Read More</a>
                                </div>
                                <div class="blog-btt-icon btt btt-secondary px-4 py-3 rounded-pill ">
                                    <div class="blog-icon-1">
                                        <p class="text-white px-2">Share<i class="fa fa-arrow-right ms-3"></i></p>
                                    </div>
                                    <div class="blog-icon-2">
                                        <a href="" class="btt me-1"><i class="fab fa-facebook-f text-white"></i></a>
                                        <a href="" class="btt me-1"><i class="fab fa-twitter text-white"></i></a>
                                        <a href="" class="btt me-1"><i class="fab fa-instagram text-white"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content text-center position-relative px-3" style="margin-top: 5px;">
                        <img src="~/xRoot/images/admin.jpg" class="img-fluid rounded-circle border border-4 border-white mb-3" alt="">
                                <h5 class="">By Daniel Martin</h5>
                                <span class="text-secondary">30 jan 2023</span>
                                <p class="py-2">Lorem ipsum dolor sit amet elit. Sed efficitur quis purus ut interdum. Aliquam dolor eget urna ultricies tincidunt libero sit amet</p>
                            </div>
                            <div class="blog-coments d-flex justify-content-between px-4 py-2 border bg-primary rounded-bottom">
                                <a href="" class="text-white"><small><i class="fas fa-share me-2 text-secondary"></i>5324 Share</small></a>
                                <a href="" class="text-white"><small><i class="fa fa-comments me-2 text-secondary"></i>5 Comments</small></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->


<!-- client logo slider -->
<section class="section">
    <div class="container">
        <div class="client-logo-slider align-self-center">
            <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="~/xRoot/images/clients-logo/client-logo-1.png" alt="client-logo"></a>
            <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="~/xRoot/images/clients-logo/client-logo-2.png" alt="client-logo"></a>
            <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="~/xRoot/images/clients-logo/client-logo-3.png" alt="client-logo"></a>
            <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="~/xRoot/images/clients-logo/client-logo-4.png" alt="client-logo"></a>
            <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="~/xRoot/images/clients-logo/client-logo-5.png" alt="client-logo"></a>
            <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="~/xRoot/images/clients-logo/client-logo-1.png" alt="client-logo"></a>
            <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="~/xRoot/images/clients-logo/client-logo-2.png" alt="client-logo"></a>
            <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="~/xRoot/images/clients-logo/client-logo-3.png" alt="client-logo"></a>
            <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="~/xRoot/images/clients-logo/client-logo-4.png" alt="client-logo"></a>
            <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="~/xRoot/images/clients-logo/client-logo-5.png" alt="client-logo"></a>
        </div>
    </div>
</section>
<!-- /client logo slider -->
<!-- newsletter -->
<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Subscribe to our newsletter</h2>
                <p class="mb-5">Receive updates, news and deals</p>
            </div>
            <div class="col-lg-8 col-sm-10 col-12 mx-auto">
                <form action="#">
                    <div class="input-wrapper position-relative">
                        <input type="email" class="newsletter-form" id="newsletter" placeholder="Enter your email">
                        <button type="submit" value="send" class="btn newsletter-btn">subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- background shapes -->
    <img class="newsletter-bg-shape left-right-animation" src="~/xRoot/images/background-shape/seo-ball-2.png" alt="background-shape">
</section>
<!-- /newsletter -->
