
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_header_footer.cshtml";
}

    

<head>



    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/6.5.95/css/materialdesignicons.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/xRoot/css/bootstrap.min.css" rel="stylesheet">

</head>

<section class="bs-hero-section bg-white position-relative overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <!-- Left Text -->
            <div class="col-lg-6 order-2 order-lg-1 text-center text-lg-start">
                <h1 class="display-5 fw-bold text-primary mb-4">We offer modern solutions for growing your business</h1>
                <p class="lead text-secondary mb-4">We are a team of talented designers making websites with Bootstrap.</p>
                <div class="d-flex flex-column flex-md-row align-items-center gap-3">
                    <a href="#about" class="btn btn-primary px-4 py-2">Get Started <i class="bi bi-arrow-right ms-2"></i></a>
                    <a href="https://www.youtube.com/watch?v=YykjpeuMNEk" class="btn btn-link text-primary fw-semibold">
                        <i class="bi bi-play-circle fs-4 me-2"></i>Watch Video
                    </a>
                </div>
            </div>
            <!-- Right Image -->
            <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="https://bootstrapmade.com/content/demo/FlexStart/assets/img/hero-img.png"
                     alt="Hero"
                     class="img-fluid mx-auto float-animation"
                     style="max-width: 400px;" />
            </div>
        </div>
    </div>
</section>

    <section id="custom-about" class="container">
    <div class="custom-section-title " data-aos="fade-up">
            <h2 class="custom-fancy-heading">About</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div>

        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 custom-content" data-aos="fade-down" data-aos-delay="100">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul>
                        <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                        <li><i class="bi bi-check2-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo</span></li>
                    </ul>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <a href="#" class="custom-read-more btn btn-primary text-white"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Floating background images -->
        <div id="scene">
            <img class="img-fluid hero-bg-1 up-down-animation" src="~/xRoot/images/background-shape/feature-bg-2.png" alt="">
            <img class="img-fluid hero-bg-3 left-right-animation" src="~/xRoot/images/background-shape/seo-half-cycle.png" alt="">
            <img class="img-fluid hero-bg-4 up-down-animation" src="~/xRoot/images/background-shape/green-dot.png" alt="">
            <img class="img-fluid hero-bg-6 up-down-animation" src="~/xRoot/images/background-shape/seo-ball-1.png" alt="">
            <img class="img-fluid hero-bg-7 left-right-animation" src="~/xRoot/images/background-shape/yellow-triangle.png" alt="">
            <img class="img-fluid hero-bg-8 up-down-animation" src="~/xRoot/images/background-shape/service-half-cycle.png" alt="">
            <img class="img-fluid hero-bg-9 up-down-animation" src="~/xRoot/images/background-shape/team-bg-triangle.png" alt="">
        </div>
    </section>

    <section id="custom-features" class="custom-features section">
        <div class="container">
            <div class="row gy-4 align-items-center custom-features-item">
                <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
                    <img src="/xRoot/images/about/features-1.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
                    <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                    <p class="fst-italic">Lorem ipsum dolor sit amet...</p>
                    <ul>
                        <li><i class="bi bi-check"></i><span> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                        <li><i class="bi bi-check"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                        <li><i class="bi bi-check"></i> <span>Ullam est qui quos consequatur eos accusamus.</span></li>
                    </ul>
                </div>
            </div>

            <div class="row gy-4 align-items-center custom-features-item">
                <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="/xRoot/images/about/features-2.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
                    <h3>Corporis temporibus maiores provident</h3>
                    <p class="fst-italic">Lorem ipsum dolor sit amet...</p>
                    <p>Ullamco laboris nisi ut aliquip...</p>
                </div>
            </div>
        </div>

        <!-- Floating shapes -->
        <img class="feature-bg-1 up-down-animation" src="~/xRoot/images/background-shape/feature-bg-1.png" alt="bg-shape">
        <img class="feature-bg-2 left-right-animation" src="~/xRoot/images/background-shape/feature-bg-2.png" alt="bg-shape">
    </section>

    <!-- AOS JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init({
          once: true,
          duration: 1000
        });
    </script>

<!-- Check out the F.A.Q.-->
<section class="faq-9 faq section light-background" id="faq">
    <div class="container">

        <div class="row">
          
            <div class="col-lg-5">
                <h2 class="faq-title">Have a question? Check out the F.A.Q.</h2>
               
               <p class="faq-description">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet adipiscing sem neque sed ipsum.</p>
                <div class="faq-arrow d-none d-lg-block aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <svg class="faq-arrow " width="200" height="211" viewBox="0 0 200 211" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M198.804 194.488C189.279 189.596 179.529 185.52 169.407 182.07L169.384 182.049C169.227 181.994 169.07 181.939 168.912 181.884C166.669 181.139 165.906 184.546 167.669 185.615C174.053 189.473 182.761 191.837 189.146 195.695C156.603 195.912 119.781 196.591 91.266 179.049C62.5221 161.368 48.1094 130.695 56.934 98.891C84.5539 98.7247 112.556 84.0176 129.508 62.667C136.396 53.9724 146.193 35.1448 129.773 30.2717C114.292 25.6624 93.7109 41.8875 83.1971 51.3147C70.1109 63.039 59.63 78.433 54.2039 95.0087C52.1221 94.9842 50.0776 94.8683 48.0703 94.6608C30.1803 92.8027 11.2197 83.6338 5.44902 65.1074C-1.88449 41.5699 14.4994 19.0183 27.9202 1.56641C28.6411 0.625793 27.2862 -0.561638 26.5419 0.358501C13.4588 16.4098 -0.221091 34.5242 0.896608 56.5659C1.8218 74.6941 14.221 87.9401 30.4121 94.2058C37.7076 97.0203 45.3454 98.5003 53.0334 98.8449C47.8679 117.532 49.2961 137.487 60.7729 155.283C87.7615 197.081 139.616 201.147 184.786 201.155L174.332 206.827C172.119 208.033 174.345 211.287 176.537 210.105C182.06 207.125 187.582 204.122 193.084 201.144C193.346 201.147 195.161 199.887 195.423 199.868C197.08 198.548 193.084 201.144 195.528 199.81C196.688 199.192 197.846 198.552 199.006 197.935C200.397 197.167 200.007 195.087 198.804 194.488ZM60.8213 88.0427C67.6894 72.648 78.8538 59.1566 92.1207 49.0388C98.8475 43.9065 106.334 39.2953 114.188 36.1439C117.295 34.8947 120.798 33.6609 124.168 33.635C134.365 33.5511 136.354 42.9911 132.638 51.031C120.47 77.4222 86.8639 93.9837 58.0983 94.9666C58.8971 92.6666 59.783 90.3603 60.8213 88.0427Z" fill="currentColor"></path>
                    </svg>
                </div>
                
           </div>

            <div class="col-lg-8">
                <div class="faq-container">

                    <div class="faq-item">
                        <h3>Non consectetur a erat nam at lectus urna duis?</h3>
                        <div class="faq-content">
                            <p>Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                    <div class="faq-item">
                        <h3>Feugiat scelerisque varius morbi enim nunc faucibus?</h3>
                        <div class="faq-content">
                            <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                    <div class="faq-item">
                        <h3>Dolor sit amet consectetur adipiscing elit pellentesque?</h3>
                        <div class="faq-content">
                            <p>Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                    <div class="faq-item">
                        <h3>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</h3>
                        <div class="faq-content">
                            <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                    <div class="faq-item">
                        <h3>Tempus quam pellentesque nec nam aliquam sem et tortor?</h3>
                        <div class="faq-content">
                            <p>Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                    <div class="faq-item">
                        <h3>Perspiciatis quod quo quos nulla quo illum ullam?</h3>
                        <div class="faq-content">
                            <p>Enim ea facilis quaerat voluptas quidem et dolorem. Quis et consequatur non sed in suscipit sequi.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div>

                </div>
            </div>
        </div>
      
    </div>
    
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const faqItems = document.querySelectorAll(".faq-9 .faq-item");

      faqItems.forEach(item => {
        item.addEventListener("click", () => {
          item.classList.toggle("faq-active");
        });
      });
    });
</script><!-- Check out the F.A.Q.-->
<!--Check Our Features-->

<section id="features" class="features section light-background">

    <!-- Section Title -->
    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Features</h2>
        <div><span>Check Our</span> <span class="description-title">Features</span></div>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-5 justify-content-between">

            <div class="col-xl-5 aos-init aos-animate" data-aos="zoom-out" data-aos-delay="100">
                <img src="~/xRoot/images/about/features.jpg" class="img-fluid" alt="Feature illustration">
            </div>

            <div class="col-xl-6 d-flex">
                <div class="row align-self-center gy-4">

                    <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                        <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Eos aspernatur rem</h3>
                        </div>
                    </div>

                    <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Facilis neque ipsa</h3>
                        </div>
                    </div>

                    <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                        <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Volup amet volupt</h3>
                        </div>
                    </div>

                    <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="500">
                        <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Rerum omnis sint</h3>
                        </div>
                    </div>

                    <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
                        <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Alias possimus</h3>
                        </div>
                    </div>

                    <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="700">
                        <div class="feature-box d-flex align-items-center">
                            <i class="bi bi-check"></i>
                            <h3>Repellendus molli</h3>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>


<!--Check Our Features-->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title aos-init aos-animate mb-5" data-aos="fade-up">
        <h2>Services</h2>
        <div><span>Check Our</span> <span class="description-title">Services</span></div>
    </div><!-- End Section Title -->

    <div class="container">
        <div class="row gy-4">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-activity"></i></div>
                    <a href="service-details.html" class="stretched-link"><h3>Nesciunt Mete</h3></a>
                    <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-broadcast"></i></div>
                    <a href="service-details.html" class="stretched-link"><h3>Eosle Commodi</h3></a>
                    <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-easel"></i></div>
                    <a href="service-details.html" class="stretched-link"><h3>Ledo Markt</h3></a>
                    <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-bounding-box-circles"></i></div>
                    <a href="service-details.html" class="stretched-link"><h3>Asperiores Commodit</h3></a>
                    <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <a href="service-details.html" class="stretched-link"><h3>Velit Doloremque</h3></a>
                    <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-chat-square-text"></i></div>
                    <a href="service-details.html" class="stretched-link"><h3>Dolori Architecto</h3></a>
                    <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
                </div>
            </div>

        </div>
    </div>

</section>

<!-- AOS JS -->
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init();
</script>



                        <!--why choose us start-->
<div class="container my-5 wc-container">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-6  wc-tun">
            <h2 class="wc-section-title">Why Choose Us</h2>
            <p>
                Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.
            </p>

            <div class="row my-4">
                <div class="col-6 col-md-6 mb-4">
                    <div class="wc-feature" data-aos="fade-up">
                        <div class="wc-icon mb-3">
                            <img src="/xRoot/images/about/truck.png" alt="Fast & Free Shipping" class="img-fluid" />
                        </div>
                        <h4>Fast &amp; Free Shipping</h4>
                        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 mb-4">
                    <div class="wc-feature" data-aos="fade-up" data-aos-delay="100">
                        <div class="wc-icon mb-3">
                            <img src="/xRoot/images/about/bag (1).png" alt="Easy to Shop" class="img-fluid" />
                        </div>
                        <h4>Easy to Shop</h4>
                        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 mb-4">
                    <div class="wc-feature" data-aos="fade-up" data-aos-delay="200">
                        <div class="wc-icon mb-3">
                            <img src="/xRoot/images/about/support.png" alt="24/7 Support" class="img-fluid" />
                        </div>
                        <h4>24/7 Support</h4>
                        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit.</p>
                    </div>
                </div>

                <div class="col-6 col-md-6 mb-4">
                    <div class="wc-feature" data-aos="fade-up" data-aos-delay="300">
                        <div class="wc-icon mb-3">
                            <img src="/xRoot/images/about/return.png" alt="Hassle Free Returns" class="img-fluid" />
                        </div>
                        <h4>Hassle Free Returns</h4>
                        <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5 " data-aos="zoom-in">
            <div class="wc-img-wrap">
                <img src="/xRoot/images/about/why-choose-us-img.jpg" alt="Why Choose Us" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
<!--why choose us end-->

<!-- contectus Start-->
<section id="contact" class="ct-section section">
    <div class="container text-center my-5 py-4 ct-section-title" data-aos="fade-up">
        <h2 class="mb-3">Contact</h2>
        <p class="text-muted">Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-4 g-lg-5">
            <!-- Contact Info Box -->
            <div class="col-lg-5 fix-up">
                <div class="ct-info-box" data-aos="fade-up" data-aos-delay="200">
                    <h3 class="text-white">Contact Info</h3>
                    <p class="text-white">Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum primis.</p>

                    <div class="ct-info-item" data-aos="fade-up" data-aos-delay="300">
                        <div class="ct-icon-box">
                            <i class="bi bi-geo-alt"></i>
                        </div>
                        <div class="content ms-4">
                            <h4>Our Location</h4>
                            <p>A108 Adam Street</p>
                            <p>New York, NY 535022</p>
                        </div>
                    </div>

                    <div class="ct-info-item" data-aos="fade-up" data-aos-delay="400">
                        <div class="ct-icon-box">
                            <i class="bi bi-telephone"></i>
                        </div>
                        <div class="content ms-4">
                            <h4>Phone Number</h4>
                            <p>+1 5589 55488 55</p>
                            <p>+1 6678 254445 41</p>
                        </div>
                    </div>

                    <div class="ct-info-item" data-aos="fade-up" data-aos-delay="500">
                        <div class="ct-icon-box">
                            <i class="bi bi-envelope"></i>
                        </div>
                        <div class="content ms-4">
                            <h4>Email Address</h4>
                            <p>info@example.com</p>
                            <p>contact@example.com</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contact Form -->
            <div class="col-lg-7">
                <div class="ct-contact-form" data-aos="fade-up" data-aos-delay="300">
                    <h3>Get In Touch</h3>
                    <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ante ipsum primis.</p>

                    <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                            </div>
                            <div class="col-12 my-4">
                                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                            </div>
                            <div class="col-12 text-center">
                                <div class="loading">Loading</div>
                                <div class="error-message">There was an error sending your message</div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                                <button type="submit" class="btn btn-primary my-4">Send Message</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>


<!--contectus end-->
<!--how is works it start-->
<div class="container my-5">
    <!-- Section Title -->
    <div class="row justify-content-center mb-5">
        <div class="col-md-8 col-lg-6 text-center">
            <h6 class="custom-subtitle">How it <span class="fw-bold">Works</span></h6>
            <h2 class="custom-title">How does it work?</h2>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque rem aperiam.</p>
        </div>
    </div>

    <!-- Steps -->
    <div class="row">
        <div class="col-lg-4">
            <div class="custom-work-box px-lg-5 text-center mb-5 mb-lg-0">
                <div class="custom-work-icon custom-bg-primary mb-4">
                    <i class="mdi mdi-format-list-bulleted"></i>
                </div>
                <h5 class="fw-semibold">1. Intuitive visual editor</h5>
                <p class="text-muted">Nemo enim ipsam quia voluptas sit aspernatur ist dolores.</p>
                <img src="/xRoot/images/about/arrow-top.png" alt="Arrow pointing up" class="custom-work-arrow">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="custom-work-box px-lg-5 text-center mb-5 mb-lg-0">
                <div class="custom-work-icon custom-bg-success mb-4">
                    <i class="mdi mdi-palette-outline"></i>
                </div>
                <h5 class="fw-semibold">2. Huge design collection</h5>
                <p class="text-muted">Nemo enim ipsam quia voluptas sit aspernatur ist dolores.</p>
                <img src="/xRoot/images/about/arrow-bottom.png" alt="Arrow pointing down" class="custom-work-arrow">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="custom-work-box px-lg-5 text-center mb-5 mb-lg-0">
                <div class="custom-work-icon custom-bg-warning mb-4">
                    <i class="mdi mdi-layers-triple"></i>
                </div>
                <h5 class="fw-semibold">3. One click installation</h5>
                <p class="text-muted">Nemo enim ipsam quia voluptas sit aspernatur ist dolores.</p>
            </div>
        </div>
    </div>
</div>

<!--how is works it end-->
<!-- What do you get with our tool? START-->
<section class="container py-5 my-sm-2 my-md-4 my-lg-5">
    <h2 class="h1 text-center pt-sm-3 mt-xxl-3 mx-auto" style="max-width: 40rem;">What do you get with our tool?</h2>
    <p class="fs-lg text-center pb-3 mb-lg-4 mx-auto" style="max-width: 30rem;">Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gy-3 gy-sm-4 gy-xl-5 gx-4 gx-md-5 pb-xxl-4 mb-sm-2 mb-lg-0 mb-xl-2">
        <div class="col">
            <div class="text-center px-xxl-4">
                <svg class="d-inline-block mb-3 mb-md-4" width="76" height="75" viewBox="0 0 76 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="text-warning" d="M38.0625 6.25C19.9063 6.25 6.75 21.0625 6.75 37.5C6.75 42.75 8.28125 48.1562 10.9688 53.0938C11.4688 53.9062 11.5312 54.9375 11.1875 55.9062L9.09375 62.9062C8.625 64.5937 10.0625 65.8438 11.6562 65.3438L17.9688 63.4688C19.6875 62.9062 21.0312 63.625 22.6281 64.5938C27.1906 67.2812 32.875 68.6562 38 68.6562C53.5 68.6562 69.25 56.6875 69.25 37.4062C69.25 20.7812 55.8125 6.25 38.0625 6.25Z" fill="currentColor"></path>
                    <path class="text-primary" fill-rule="evenodd" clip-rule="evenodd" d="M37.9411 41.5306C35.7224 41.4993 33.9411 39.7181 33.9411 37.4993C33.9411 35.3118 35.7536 33.4993 37.9411 33.5305C40.1599 33.5305 41.9411 35.3118 41.9411 37.5306C41.9411 39.7181 40.1599 41.5306 37.9411 41.5306ZM23.5312 41.5303C21.3438 41.5303 19.5312 39.7178 19.5312 37.5303C19.5312 35.3115 21.3125 33.5303 23.5312 33.5303C25.75 33.5303 27.5312 35.3115 27.5312 37.5303C27.5312 39.7178 25.75 41.499 23.5312 41.5303ZM48.3458 37.5303C48.3458 39.7178 50.1271 41.5303 52.3458 41.5303C54.5646 41.5303 56.3458 39.7178 56.3458 37.5303C56.3458 35.3115 54.5646 33.5303 52.3458 33.5303C50.1271 33.5303 48.3458 35.3115 48.3458 37.5303Z" fill="currentColor"></path>
                </svg>
                <h3 class="h4 mb-2">Comments on tasks</h3>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit in the justo eget maximus accumsan lorem ligula malesuada.</p>
            </div>
        </div>
        <div class="col">
            <div class="text-center px-xxl-4">
                <svg class="d-inline-block mb-3 mb-md-4" width="76" height="75" viewBox="0 0 76 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="text-primary" d="M32.2274 17.3606C32.3865 17.6845 32.4916 18.0315 32.5387 18.3881L33.4088 31.3253L33.8407 37.8279C33.8452 38.4966 33.9501 39.161 34.1521 39.7997C34.6737 41.0388 35.9286 41.8263 37.2939 41.7714L58.0979 40.4106C58.9988 40.3958 59.8688 40.7327 60.5164 41.3473C61.0561 41.8594 61.4045 42.5294 61.5143 43.25L61.5511 43.6876C60.6902 55.6086 51.9349 65.5516 40.0386 68.1183C28.1424 70.685 15.9433 65.263 10.0647 54.7961C8.36996 51.7552 7.31141 48.4128 6.95119 44.9651C6.80071 43.9445 6.73445 42.9136 6.75306 41.8825C6.73448 29.1018 15.8358 18.0525 28.576 15.3888C30.1094 15.1501 31.6126 15.9618 32.2274 17.3606Z" fill="currentColor"></path>
                    <path class="text-warning" d="M40.7178 6.25268C54.9674 6.6152 66.9438 16.862 69.249 30.6635L69.227 30.7654L69.1641 30.9135L69.1729 31.32C69.1402 31.8586 68.9323 32.3768 68.5739 32.7954C68.2006 33.2314 67.6906 33.5283 67.129 33.6436L66.7865 33.6906L42.7841 35.2458C41.9857 35.3245 41.1907 35.0671 40.597 34.5375C40.1022 34.0962 39.7859 33.5004 39.6965 32.8585L38.0855 8.89094C38.0574 8.8099 38.0574 8.72204 38.0855 8.641C38.1075 7.98035 38.3983 7.35587 38.8929 6.90709C39.3876 6.45831 40.0448 6.22262 40.7178 6.25268Z" fill="currentColor"></path>
                </svg>
                <h3 class="h4 mb-2">Tasks analytics</h3>
                <p>Non imperdiet facilisis nulla tellus morbi scelerisque eget adipiscing out vulputate convallis justo sed tellus vehicula.</p>
            </div>
        </div>
        <div class="col">
            <div class="text-center px-xxl-4">
                <svg class="d-inline-block mb-3 mb-md-4" width="76" height="75" viewBox="0 0 76 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="text-warning" d="M41.0509 9.73004L48.0087 23.7122C48.5213 24.7252 49.4996 25.4287 50.628 25.585L66.2564 27.8611C67.1691 27.9893 67.9974 28.4708 68.5569 29.2056C69.1101 29.9309 69.3476 30.8502 69.2132 31.7537C69.1038 32.5041 68.7506 33.1982 68.2099 33.7297L56.8856 44.7072C56.0573 45.4732 55.6822 46.6082 55.8823 47.7181L58.6704 63.151C58.9673 65.0144 57.7327 66.7716 55.8823 67.1249C55.1196 67.2468 54.3382 67.1186 53.6505 66.7684L39.71 59.5054C38.6754 58.9832 37.4533 58.9832 36.4187 59.5054L22.4782 66.7684C20.7653 67.6783 18.643 67.0592 17.6897 65.3708C17.3365 64.6986 17.2115 63.9326 17.3271 63.1854L20.1152 47.7494C20.3152 46.6426 19.937 45.5014 19.1119 44.7353L7.78755 33.7641C6.44039 32.4635 6.39975 30.3218 7.69691 28.9742C7.72504 28.9461 7.7563 28.9148 7.78755 28.8835C8.32517 28.3364 9.03157 27.9893 9.79423 27.8987L25.4226 25.6194C26.5478 25.4599 27.5262 24.7627 28.0419 23.7434L34.7496 9.73004C35.3466 8.52943 36.5844 7.78218 37.9284 7.81344H38.3472C39.5131 7.95414 40.529 8.67638 41.0509 9.73004Z" fill="currentColor"></path>
                    <path class="text-primary" d="M37.975 59.116C37.3697 59.1348 36.78 59.2974 36.2496 59.5883L22.3772 66.8348C20.6799 67.6449 18.6486 67.0162 17.697 65.393C17.3444 64.73 17.2165 63.97 17.335 63.2256L20.1058 47.8224C20.293 46.7027 19.9185 45.5643 19.1042 44.7761L7.7748 33.8077C6.43001 32.491 6.40504 30.3299 7.72176 28.9819C7.74048 28.9631 7.75608 28.9475 7.7748 28.9319C8.31147 28.4002 9.00415 28.0499 9.74988 27.9404L25.3913 25.6385C26.524 25.4947 27.5068 24.7878 28.0061 23.762L34.8049 9.57224C35.4508 8.42756 36.6895 7.74575 38 7.81768C37.975 8.74657 37.975 58.4842 37.975 59.116Z" fill="currentColor"></path>
                </svg>
                <h3 class="h4 mb-2">Light / dark mode</h3>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam inrean mauris ultrices interdum congue ut, dictum et tortor.</p>
            </div>
        </div>
        <div class="col">
            <div class="text-center px-xxl-4">
                <svg class="d-inline-block mb-3 mb-md-4" width="76" height="75" viewBox="0 0 76 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="text-primary" d="M62.2797 36.3917C59.9969 33.7259 58.9596 31.4158 58.9596 27.4911V26.1567C58.9596 21.0423 57.7825 17.7471 55.2233 14.4519C51.2789 9.33435 44.6387 6.25 38.1382 6.25H37.8618C31.498 6.25 25.0658 9.19272 21.0531 14.1025C18.3542 17.4638 17.0404 20.9007 17.0404 26.1567V27.4911C17.0404 31.4158 16.0714 33.7259 13.7203 36.3917C11.9903 38.3556 11.4375 40.8797 11.4375 43.6116C11.4375 46.3466 12.3351 48.9368 14.1365 51.0423C16.4876 53.5665 19.8077 55.1779 23.1992 55.458C28.1095 56.0182 33.0198 56.2291 38.0016 56.2291C42.9802 56.2291 47.8905 55.8766 52.8039 55.458C56.1923 55.1779 59.5124 53.5665 61.8635 51.0423C63.6618 48.9368 64.5625 46.3466 64.5625 43.6116C64.5625 40.8797 64.0097 38.3556 62.2797 36.3917Z" fill="currentColor"></path>
                    <path class="text-warning" d="M44.277 60.0886C42.7148 59.755 33.1954 59.755 31.6332 60.0886C30.2977 60.397 28.8535 61.1146 28.8535 62.6883C28.9312 64.1895 29.8101 65.5145 31.0276 66.3549L31.0245 66.358C32.5991 67.5855 34.4471 68.366 36.382 68.6461C37.4131 68.7877 38.4629 68.7814 39.5313 68.6461C41.4631 68.366 43.3111 67.5855 44.8857 66.358L44.8826 66.3549C46.1001 65.5145 46.9791 64.1895 47.0567 62.6883C47.0567 61.1146 45.6125 60.397 44.277 60.0886Z" fill="currentColor"></path>
                </svg>
                <h3 class="h4 mb-2">Notifications</h3>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra  inter vivamus id porta fermentum turpis.</p>
            </div>
        </div>
        <div class="col">
            <div class="text-center px-xxl-4">
                <svg class="d-inline-block mb-3 mb-md-4" width="76" height="75" viewBox="0 0 76 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="text-warning" d="M59.2775 28.1906C57.8666 28.1906 55.9976 28.1594 53.6708 28.1594C47.9959 28.1594 43.3298 23.4625 43.3298 17.7344V7.68437C43.3298 6.89375 42.6986 6.25 41.9158 6.25H25.3863C17.6724 6.25 11.4375 12.5812 11.4375 20.3406V54.0125C11.4375 62.1531 17.9694 68.75 26.0299 68.75H50.6446C58.3307 68.75 64.5625 62.4594 64.5625 54.6937V29.5969C64.5625 28.8031 63.9344 28.1625 63.1484 28.1656C61.8272 28.175 60.2429 28.1906 59.2775 28.1906Z" fill="currentColor"></path>
                    <path class="text-primary" d="M50.7639 8.02291C49.8295 7.05103 48.1982 7.71978 48.1982 9.06666V17.3073C48.1982 20.7635 51.0451 23.6073 54.5014 23.6073C56.6795 23.6323 59.7045 23.6385 62.2732 23.6323C63.5889 23.6292 64.2576 22.0573 63.3451 21.1073C60.0482 17.6792 54.1451 11.5354 50.7639 8.02291Z" fill="currentColor"></path>
                    <path class="text-primary" fill-rule="evenodd" clip-rule="evenodd" d="M28.5447 35.5859H39.1229C40.4072 35.5859 41.451 34.5452 41.451 33.2609C41.451 31.9765 40.4072 30.9327 39.1229 30.9327H28.5447C27.2604 30.9327 26.2197 31.9765 26.2197 33.2609C26.2197 34.5452 27.2604 35.5859 28.5447 35.5859ZM28.5448 51.1926H45.5573C46.8417 51.1926 47.8854 50.152 47.8854 48.8676C47.8854 47.5833 46.8417 46.5395 45.5573 46.5395H28.5448C27.2605 46.5395 26.2198 47.5833 26.2198 48.8676C26.2198 50.152 27.2605 51.1926 28.5448 51.1926Z" fill="currentColor"></path>
                </svg>
                <h3 class="h4 mb-2">Sections &amp; subtasks</h3>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus  porttitor tincidunt sapien luctus tristique quam aenean accumsan.</p>
            </div>
        </div>
        <div class="col">
            <div class="text-center px-xxl-4">
                <svg class="d-inline-block mb-3 mb-md-4" width="76" height="75" viewBox="0 0 76 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="text-warning" d="M38.2703 68.75C37.8833 68.75 37.4964 68.6611 37.1471 68.4803L25.8937 62.655C22.7005 61.0003 20.2025 59.1433 18.252 56.9799C13.9828 52.2485 11.6075 46.175 11.5698 39.8747L11.4376 19.1383C11.4219 16.7451 12.9666 14.597 15.2758 13.788L35.9391 6.58371C37.166 6.14551 38.5346 6.13938 39.7835 6.56226L60.5255 13.5214C62.8472 14.2967 64.4171 16.4294 64.4297 18.8196L64.5618 39.5713C64.6027 45.8624 62.3093 51.9605 58.1061 56.7439C56.1776 58.938 53.7017 60.8226 50.5399 62.5079L39.3871 68.465C39.0411 68.6519 38.6573 68.7469 38.2703 68.75Z" fill="currentColor"></path>
                    <path class="text-primary" d="M35.8712 44.753C35.2672 44.756 34.6632 44.5385 34.1975 44.0911L28.2075 38.3301C27.2825 37.4353 27.2731 35.9828 28.1886 35.0819C29.1041 34.1779 30.5985 34.1687 31.5265 35.0605L35.8366 39.2035L46.3602 28.8276C47.2788 27.9236 48.7732 27.9144 49.6981 28.8061C50.6262 29.7009 50.6357 31.1565 49.7202 32.0543L37.5355 44.0696C37.0762 44.5231 36.4753 44.7499 35.8712 44.753Z" fill="currentColor"></path>
                </svg>
                <h3 class="h4 mb-2">Data security</h3>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras. Neque, morbi non arcu sapien luctus ullamcorper lectus efficitur.</p>
            </div>
        </div>
    </div>
</section>
<!-- What do you get with our tool? END-->


<div class="container bg-dark rounded-4 border p-3  z-2 pt-5 pb-4 pb-md-5 my-xl-3 my-xxl-4">
    <div class="row justify-content-center py-xxl-2">
        <div class="col-lg-7 col-xxl-7">
            <div class="card h-100 border-0 bg-transparent px-xl-4">
                <div class="bg-light position-absolute top-0 start-0 w-100 h-100 rounded-4 aos-init"
                     data-aos="zoom-in"
                     data-aos-duration="600"
                     data-aos-offset="300"
                     data-disable-parallax-down="lg"></div>

                <div class="position-absolute top-0 start-0 text-warning z-1 mt-n3 ms-n4 aos-init"
                     data-aos="zoom-in"
                     data-aos-duration="400"
                     data-aos-delay="600"
                     data-aos-offset="300"
                     data-aos-easing="ease-out-back"
                     data-disable-parallax-down="lg">
                    <svg width="109" height="80" viewBox="0 0 109 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8683 75.7302C16.2569 75.4191 16.6217 75.0491 17.0377 74.7951C17.4254 74.5572 17.8115 74.3169 18.1985 74.0793C20.3199 72.7747 22.4054 71.3943 24.603 70.2517C26.9011 69.0568 29.1665 67.7889 31.5071 66.685C33.8966 65.56 36.279 64.4217 38.6941 63.3532C43.4024 61.2723 48.1059 59.183 52.7956 57.0638C57.4545 54.9602 62.0996 52.8266 66.7072 50.6118C68.9933 49.5118 71.2155 48.27 73.4522 47.0639C75.6499 45.8818 77.7997 44.6021 79.9333 43.2844C80.4024 42.9952 80.844 42.6475 81.2974 42.3262C81.7449 42.0076 82.2023 41.7071 82.6368 41.3612C83.752 40.4723 84.8555 39.563 85.9422 38.6175C87.8325 36.9663 89.6174 35.106 91.56 33.561C93.5954 31.9429 95.7477 30.565 97.8333 29.0496C98.7748 28.3667 99.6989 27.6296 100.519 26.7024C101.459 25.6459 102.338 24.4868 103.144 23.1751C103.922 21.9064 104.691 20.6181 105.476 19.3629C105.853 18.76 106.247 18.1871 106.676 17.6831C107.161 17.1122 107.636 16.5365 108.05 15.8316C108.249 15.4914 107.727 14.2085 107.354 13.401C107.143 12.9404 106.914 12.5046 106.669 12.0933C106.458 11.7493 106.1 11.2098 105.957 11.295C104.913 11.9208 103.87 12.5474 102.848 13.2205C101.816 13.8981 100.753 14.5128 99.6667 15.0746C97.555 16.1624 95.2861 16.9194 93.0008 17.6249C93.2944 17.2969 93.5881 16.9689 93.8812 16.6396C94.9335 15.4568 95.9143 14.1281 97.0601 13.1296C97.6691 12.597 98.2967 12.0983 98.8767 11.5078C99.1714 11.2096 99.4533 10.8916 99.7009 10.5014C99.9664 10.0818 100.185 9.57471 100.402 9.06813C100.503 8.97177 100.504 8.73771 100.41 8.37039C100.295 7.83489 100.046 7.16165 99.7775 6.53036C99.9828 5.98539 99.234 4.16279 98.7386 3.08895C98.4342 2.42283 98.1036 1.79151 97.747 1.19642C97.4274 0.675268 96.9419 -0.0498749 96.7193 0.0437384C95.5563 0.530174 94.2994 0.808209 93.1347 1.29089C93 1.34849 92.8647 1.40787 92.7305 1.46975C91.7462 1.92379 90.8278 2.5157 89.9231 3.13921C87.9077 4.52825 85.9265 5.99248 83.9739 7.51171C83.0652 8.21592 82.1781 8.96318 81.2519 9.6315C80.1183 10.447 78.9609 11.2038 77.7869 11.9348C75.8222 13.1564 73.7809 14.2208 71.7516 15.3054C69.4256 16.5527 67.1292 17.8561 64.9062 19.3197C62.8474 20.6756 60.8418 22.142 58.8267 23.5885C56.8017 25.0381 54.7759 26.485 52.7538 27.9408C50.6809 29.4321 48.5541 30.8104 46.4273 32.1886C45.3517 32.8879 44.2198 33.4692 43.1155 34.1074C42.0703 34.7109 40.9894 35.2413 39.9209 35.7963C37.8177 36.8893 35.6969 37.9433 33.5799 39.0063C29.3084 41.1479 25.0779 43.3753 20.8484 45.6067C18.5249 46.8331 16.2086 48.0729 13.8926 49.3156C12.7115 49.9498 11.5669 50.6643 10.405 51.3382C9.41101 51.9135 8.47733 52.6186 7.51828 53.2686C6.49754 53.9608 5.48545 54.6718 4.47509 55.3865C3.87475 55.812 3.27536 56.2416 2.67425 56.6674C2.4143 56.854 2.15243 57.0385 1.89171 57.2255C1.65401 57.3943 1.42227 57.577 1.19188 57.7606C1.02745 57.891 0.885144 58.0612 0.748409 58.2456C0.595606 58.448 0.52873 58.8336 0.431907 59.136C0.453931 59.4897 0.548042 59.9072 0.717128 60.3916C0.933192 61.0318 1.19058 61.6742 1.49102 62.3194C1.7874 62.968 2.10896 63.5808 2.4557 64.1607C2.59737 64.3743 2.73904 64.5879 2.88013 64.8003C3.11501 65.1346 3.30719 65.2961 3.45553 65.2823C3.77742 65.3855 4.09468 65.4878 4.38373 65.5045C4.48978 65.401 4.49283 65.1525 4.39113 64.7582C4.36494 64.6354 4.3322 64.5065 4.29387 64.3725C4.41065 64.3065 4.53301 64.2516 4.65479 64.1954C4.77116 64.1418 4.88676 64.0854 4.99948 64.0228C5.25373 63.8828 5.50604 63.7406 5.75933 63.5995C6.41187 63.2364 7.06383 62.872 7.71637 62.5088C8.42304 62.1146 9.13606 61.7342 9.84927 61.3551C9.7833 61.4113 9.71771 61.4674 9.65059 61.5211C8.12079 62.7543 6.59331 63.9896 5.09332 65.2834C4.85973 65.5139 4.85507 66.0618 5.07702 66.9282C5.30146 67.983 5.75153 69.2687 6.26345 70.532C5.95554 70.6634 5.64609 70.7925 5.33875 70.9252C5.1242 71.0181 5.63429 72.2337 5.84649 72.6938C6.06216 73.1613 6.6448 74.3146 6.86167 74.2237C7.15682 74.0982 7.45582 73.9799 7.75271 73.8582C8.25702 74.8854 8.79078 75.8718 9.35649 76.8176C9.66755 77.2866 9.97861 77.7557 10.2891 78.2234C10.8037 78.9548 11.2239 79.3068 11.5509 79.2787C12.9704 78.0554 14.4178 76.8905 15.8683 75.7302Z" fill="currentColor"></path>
                    </svg>
                </div>

                <div class="position-relative z-2 aos-init"
                     data-aos="fade-up"
                     data-aos-duration="500"
                     data-aos-offset="280"
                     data-disable-parallax-down="lg">
                    <div class="card-body pb-lg-5">
                        <h2 data-aos="fade-up" data-aos-delay="100">Get the full power of the pack</h2>
                        <p class="fs-xl text-dark pb-2 pb-sm-3 pb-lg-4" data-aos="fade-up" data-aos-delay="200">See what's inside</p>
                        <div class="row row-cols-1 row-cols-sm-2">
                            <ul class="col list-unstyled pb-1 pb-sm-0 mb-2 mb-sm-0">
                                <li class="d-flex pb-1 mb-2" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bi bi-check-circle-fill text-success fs-lg mt-1 me-2"></i>
                                    Viverra adipiscing ullamcorper
                                </li>
                                <li class="d-flex pb-1 mb-2" data-aos="fade-up" data-aos-delay="350">
                                    <i class="bi bi-check-circle-fill text-success fs-lg mt-1 me-2"></i>
                                    Et purus quis laoreet ipsum
                                </li>
                                <li class="d-flex pb-1 mb-2" data-aos="fade-up" data-aos-delay="400">
                                    <i class="bi bi-check-circle-fill text-success fs-lg mt-1 me-2"></i>
                                    Massa non sagittis erat sit
                                </li>
                                <li class="d-flex pb-1 mb-2" data-aos="fade-up" data-aos-delay="450">
                                    <i class="bi bi-check-circle-fill text-success fs-lg mt-1 me-2"></i>
                                    Ac dui leo adipiscing
                                </li>
                                <li class="d-flex" data-aos="fade-up" data-aos-delay="500">
                                    <i class="bi bi-check-circle-fill text-success fs-lg mt-1 me-2"></i>
                                    Ipsum sapien et a dolor viverra
                                </li>
                            </ul>
                            <ul class="col list-unstyled mb-0">
                                <li class="d-flex pb-1 mb-2" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bi bi-check-circle-fill text-success fs-lg mt-1 me-2"></i>
                                    Et purus quis laoreet ipsum
                                </li>
                                <li class="d-flex pb-1 mb-2" data-aos="fade-up" data-aos-delay="350">
                                    <i class="bi bi-check-circle-fill text-success fs-lg mt-1 me-2"></i>
                                    Placerat lorem elit purus
                                </li>
                                <li class="d-flex" data-aos="fade-up" data-aos-delay="400">
                                    <i class="bi bi-check-circle-fill text-success fs-lg mt-1 me-2"></i>
                                    Massa non sagittis erat sit
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body pt-0" data-aos="fade-up" data-aos-delay="600">
                        <a class="btn btn-lg btn-primary" href="#">Buy for $10</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 offset-xxl-1">
            <div class="card h-100 border-0 bg-transparent rounded-0 ps-4 ps-xxl-0">
                <div class="card-body px-0 pb-lg-5">
                    <h2 class="text-light" data-aos="fade-left" data-aos-delay="100">Try a <span class="text-warning">free demo</span></h2>
                    <p class="fs-xl text-light pb-2 pb-sm-3 pb-lg-4" data-aos="fade-left" data-aos-delay="200">See what's inside</p>
                    <ul class="list-unstyled mb-0">
                        <li class="d-flex pb-1 mb-2" data-aos="fade-left" data-aos-delay="300">
                            <i class="bi bi-check-circle-fill text-warning fs-lg mt-1 me-2"></i>
                            <span class="text-light opacity-70">Viverra adipiscing ullamcorper</span>
                        </li>
                        <li class="d-flex pb-1 mb-2" data-aos="fade-left" data-aos-delay="350">
                            <i class="bi bi-check-circle-fill text-warning fs-lg mt-1 me-2"></i>
                            <span class="text-light opacity-70">Et purus quis laoreet ipsum</span>
                        </li>
                        <li class="d-flex pb-1 mb-2" data-aos="fade-left" data-aos-delay="400">
                            <i class="bi bi-check-circle-fill text-warning fs-lg mt-1 me-2"></i>
                            <span class="text-light opacity-70">Massa non sagittis erat sit</span>
                        </li>
                        <li class="d-flex pb-1 mb-2" data-aos="fade-left" data-aos-delay="450">
                            <i class="bi bi-check-circle-fill text-warning fs-lg mt-1 me-2"></i>
                            <span class="text-light opacity-70">Et purus quis laoreet ipsum</span>
                        </li>
                        <li class="d-flex" data-aos="fade-left" data-aos-delay="500">
                            <i class="bi bi-check-circle-fill text-warning fs-lg mt-1 me-2"></i>
                            <span class="text-light opacity-70">Massa non sagittis erat sit</span>
                        </li>
                    </ul>
                </div>
                <div class="card-body px-0 pt-0" style="flex: 0;" data-aos="fade-left" data-aos-delay="600">
                    <a class="btn btn-lg btn-light" href="#">Try for free</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--We offer modern solutions for growing your business-->


<section class="bs-hero-section position-relative overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <!-- Left Text -->
            <div class="col-lg-6 order-2 order-lg-1 text-center text-lg-start">
                <h1 class="display-5 fw-bold text-primary mb-4">We offer modern solutions for growing your business</h1>
                <p class="lead text-secondary mb-4">We are a team of talented designers making websites with Bootstrap.</p>
                <div class="d-flex flex-column flex-md-row align-items-center gap-3">
                    <a href="#about" class="btn btn-primary px-4 py-2">Get Started <i class="bi bi-arrow-right ms-2"></i></a>
                    <a href="https://www.youtube.com/watch?v=YykjpeuMNEk" class="btn btn-link text-primary fw-semibold">
                        <i class="bi bi-play-circle fs-4 me-2"></i>Watch Video
                    </a>
                </div>
            </div>
            <!-- Right Image -->
            <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="https://bootstrapmade.com/content/demo/FlexStart/assets/img/hero-img.png"
                     alt="Hero"
                     class="img-fluid mx-auto float-animation"
                     style="max-width: 400px;" />
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->
<section class="py-5 bg-light">
    <div class="container">
        <!-- Section Header -->
        <div class="text-center mb-5">
            <h2 class="fw-bold text-primary mb-3">Services</h2>
            <p class="text-muted mx-auto" style="max-width: 600px;">
                Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit.
            </p>
        </div>

        <!-- Services Grid -->
        <div class="row g-4">
            <!-- Service 1 -->
            <div class="col-md-6 col-lg-4">
                <div class="bg-white p-4 rounded shadow-sm bs-transition bs-hover-up h-100 text-center">
                    <div class="text-info fs-2 mb-3"><i class="bi bi-cash-stack"></i></div>
                    <h5 class="fw-bold text-primary mb-3">Nesciunt Mete</h5>
                    <p class="text-muted">Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
                </div>
            </div>

            <!-- Service 2 -->
            <div class="col-md-6 col-lg-4">
                <div class="bg-white p-4 rounded shadow-sm bs-transition bs-hover-up h-100 text-center">
                    <div class="text-warning fs-2 mb-3"><i class="bi bi-calendar4-week"></i></div>
                    <h5 class="fw-bold text-primary mb-3">Eosle Commodi</h5>
                    <p class="text-muted">Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
                </div>
            </div>

            <!-- Service 3 -->
            <div class="col-md-6 col-lg-4">
                <div class="bg-white p-4 rounded shadow-sm bs-transition bs-hover-up h-100 text-center">
                    <div class="text-success fs-2 mb-3"><i class="bi bi-chat-text"></i></div>
                    <h5 class="fw-bold text-primary mb-3">Ledo Markt</h5>
                    <p class="text-muted">Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
                </div>
            </div>

            <!-- Service 4 -->
            <div class="col-md-6 col-lg-4">
                <div class="bg-white p-4 rounded shadow-sm bs-transition bs-hover-up h-100 text-center">
                    <div class="text-danger fs-2 mb-3"><i class="bi bi-credit-card-2-front"></i></div>
                    <h5 class="fw-bold text-primary mb-3">Asperiores Commodit</h5>
                    <p class="text-muted">Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
                </div>
            </div>

            <!-- Service 5 -->
            <div class="col-md-6 col-lg-4">
                <div class="bg-white p-4 rounded shadow-sm bs-transition bs-hover-up h-100 text-center">
                    <div class="text-indigo fs-2 mb-3"><i class="bi bi-globe"></i></div>
                    <h5 class="fw-bold text-primary mb-3">Velit Doloremque</h5>
                    <p class="text-muted">Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
                </div>
            </div>

            <!-- Service 6 -->
            <div class="col-md-6 col-lg-4">
                <div class="bg-white p-4 rounded shadow-sm bs-transition bs-hover-up h-100 text-center">
                    <div class="text-pink fs-2 mb-3"><i class="bi bi-clock"></i></div>
                    <h5 class="fw-bold text-primary mb-3">Dolori Architecto</h5>
                    <p class="text-muted">Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--We offer modern solutions for growing your business-->
